.flex-container {
  display: flex;
  flex-direction: column-reverse;
  background-color: blue;
}

.flex-container > div {
  background-color: yellow;
  margin: 10px;
  text-align: center;
  font-size: 50px;
  
}

.align-items {
  height: 200px;
  display: flex;
  align-items: stretch;
  background-color: blue;
}

.align-items > div {
  background-color: yellow;
  margin: 10px;
  text-align: center;
  font-size: 50px;
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: blue;
}

.flex-wrap > div {
  background-color: yellow;
  margin: 10px;
  text-align: center;
  font-size: 50px;
}

.justify-content {
  display: flex;
  justify-content: center;
  background-color: blue;
}

.justify-content > div {
  background-color: yellow;
  margin: 10px;
  text-align: center;
  font-size: 50px;
  height: 300px;
}

.flex-flow {
  display: flex;
  flex-flow: row wrap;
  background-color: blue;
}

.flex-flow > div {
  background-color: yellow;
  margin: 10px;
  text-align: center;
  font-size: 50px;
  width: 200px;
}
